/* Whole Website Formatting */

body {
    margin:0;
    font-family: "Mallory",Verdana,Arial,Helvetica,sans-serif;
    color: var(--font);
    font-weight: normal;
    font-size: 1.0625em;
    line-height: 1.3;
}

:root {
    --yale-blue: #00356B;
    --light-blue: #286DC0;
    --dark-blue: #003D76;
    --blue-highlight: #1439CB;
    --off-white:#F9F9F9;
    --font:#222222;
}

article,aside,footer,header,hgroup,main,menu,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
h1{line-height:72px;margin:0.67em 0;color:#003D76;}
h2{line-height:40px;margin:0.67em 0;color:#003D76;}
hr{box-sizing:content-box;height:0;}

/* Table Formatting */

table{border:2px solid #003D76; border-collapse: collapse;}
td,th{border:1px solid #003D76; padding:10px; font-family:"Mallory",Verdana,Arial,Helvetica,sans-serif;}
.mainhead{background-color:#003D76}
.mainhead th{color:#FFFFFF;}

/* Button Formatting */

.action {
    background-color:transparent;
    color:#003D76;
    border:2px solid #003D76;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
    transition: background-color 0.3s ease-in-out 100ms,
                color 0.3s ease-in-out 100ms;
                 
}

.action:hover {
    background: #003D76;
    color:#FFFFFF;
}

hr{
    margin:0;
    margin-bottom:1.5em;
    border:0;
    border-bottom:1px solid #e2e2e2;
}

/* Body Formatting */

.container {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 2fr auto;
    background-color: var(--off-white);
}

.impact-container {
    display:grid;
    height:100vh;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr 2fr auto;
    background-color: var(--off-white);
}

.opp-container {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: var(--off-white);
}

header {
    grid-row: 1/2;
}

section {
    display:grid;
    grid-row:2/3; 
}

.heroheadline {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
}

section.storyheadline_background {
    grid-column: 2 / 3;
    padding:2em 4em;
    background-image: url("https://forhumanity.yale.edu/themes/custom/yale/src/images/Paper.png");
    background-position:center;
    background-size:cover;
}

main {
    grid-row:2/3;
    background-color: var(--off-white);
    padding:2em;
}

.form__contact {
    background-image: url("https://forhumanity.yale.edu/themes/custom/yale/src/images/Paper.png");
    background-position:center;
    background-size:cover;
    padding:2em;
}

.contact {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin:2em;
    background-color: var(--off-white);
    padding:2em;
}

fieldset {
    
    border: none;

}

.legend__text {
    font-size: 1.1em;
}

.form {
    font-size: 1em;
}

main.article {
    grid-row:3/4;
    background-color: var(--off-white);
    padding:2em 4em 0 4em;
}

main.impact {
    display:grid;
    grid-template-columns: auto;
    grid-row:3/4;
    place-items: center;
}

main.opp {
    display:grid;
    grid-template-columns: auto;
    grid-row:3/4;
    place-items: center;
}

h2.impact {
    text-align:center;
}

.container {
    justify-items:center;
}

h1.storyheadline {
    line-height:1.3em;
    margin:0;
    color:#003D76;
}

footer {
    display:grid;
    grid-row:3/4;
}

footer.article {
    grid-row:5/6;
    margin:0;
    grid-gap:0;
    border:none;
}

footer.opp-footer {
    grid-row:5/6;
    margin:0;
    grid-gap:0;
}

.news {
    grid-area: main-content;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    grid-gap:20px;
}

.articles {
    display:grid;
    grid-template-rows: 1fr auto;
    background: #F9F9F9;
    padding: 0px;
    grid-gap:5px;
    background-color: #ffffff;
    border: 1px solid #8F8F8F;
    -webkit-box-shadow: 4px 4px #dddddd;
            box-shadow: 4px 4px #dddddd;
    transition:transform .2s;
}

.article-photo {
    width:100%;
    overflow:hidden;
    margin:0;
    max-width:100%;
    object-fit:cover;
    align-items:flex-start;
}

.articles:hover {
    transform:scale(1.05);
}

.article-details{
    color:var(--font);
    padding:0 25px 25px 25px;
}

img.hero {
    padding:0;
}

/* Navigation Bar Styling */

.nav-list {
    background: #00356B;
    margin:0;
    padding:2rem 1rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.nav-item {
    list-style:none;
    margin-right:2rem;

}

.nav-item a {
    text-decoration:none;
    color:#FFFFFF;
    font-size:.8em;
}

.nav-item a:hover {
    color:#286DC0;
    -webkit-text-decoration:underline 0.15em;
            text-decoration:underline 0.15em;
    -webkit-transition:all 50ms ease-in;
    -o-transition:all 50ms ease-in;
    transition:all 50ms ease-in;
}

.nav-item:first-child {
        margin-right:auto;
        margin-left:2rem;
        width:175px;
        height:50px;
}

/* Footer Styling */

.footer-list {
    background: #00356B;
    margin:0;
    padding:2rem 1rem;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}

.footer-item {
    list-style:none;
    margin-right:2rem;
    color:#FFFFFF;
    font-size:.8em;
}

.footer-item a {
    text-decoration:none;
    color:#FFFFFF;
}

.footer-item a:hover {
    color:#286DC0;
    -webkit-text-decoration:underline 0.15em;
            text-decoration:underline 0.15em;
    -webkit-transition:all 50ms ease-in;
    -o-transition:all 50ms ease-in;
    transition:all 50ms ease-in;
}

/* Video Styling */

.container video {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -o-object-fit:cover;
       object-fit:cover;
    width:700px;
    height:auto;
  }

  .caption {
    line-height: 10px;
    font-size: .8em;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    animation-name: arrow;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  
  }

  /* Menu Icon */

.hamburger {
    display:none;
    cursor: pointer;
    float:right;
    padding: 40px 20px;
  }

.bar {
   display: block;
   width: 25px;
   height:3px;
   margin: 5px auto;
   -webkittransition: all 0.3s ease-in-out;
   background-color: #ffffff;
}

@media(max-width:768px){
    .hamburger{
        display:block;
    }
}


  .hamb-line {
    background:#00356B;
    display:block;
    height:2px;
    position:relative;
    width:24px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background:#ffffff;
    content: '';
    display:block;
    height:100%;
    position:absolute;
    transition: all .2 ease-out;
    width:100%;
  }

  .hamb-line::before {
    top:5px;
  }

  .hamb-line::after {
    top:-5px;
  }

/* Nav Dropdown */

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .drop-down-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .drop-down-content a {
    font-size: 12px;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .drop-down-content a:hover {
    background-color: #dddddd;
  }
  
  .dropdown:hover .drop-down-content {
    display: block;
  }
  
  /* Back to Top Button */

  .top {   
    position: sticky;
    bottom: 20px;
    margin-right:10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    text-decoration: none;
    padding: 10px;
    font-family: inherit;
    color: #fff;
    background: #00356B;
    border-radius: 0;
    white-space: nowrap;
    border: 1px #f9f9f9;
  }
  
  p {
    font-size: 25px;
  }

  /*Homepage*/
  .landing {
    display:grid;
    margin: 20px;
    grid-template-columns: auto 2fr auto;
  }

  .home {
    padding: 40px;
  }


